<div class="calendar listed">
	<section class="month">
		<h2 class="monthname delta text-center">July 2014</h2>

		<ul class="week-top small-block-grid-1 medium-block-grid-7 hide-for-small-only">
			<li class="dayname">Sun</li>
			<li class="dayname">Mon</li>
			<li class="dayname">Tue</li>
			<li class="dayname">Wed</li>
			<li class="dayname">Thu</li>
			<li class="dayname">Fri</li>
			<li class="dayname">Sat</li>
		</ul>

		<ul class="week small-block-grid-1 medium-block-grid-7">
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">1</span>
			</li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">2</span></li>
			<li class="day"><span class="daynumber">3</span></li>
			<li class="day"><span class="daynumber">4</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">5</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">6</span></li>
			<li class="day"><span class="daynumber">7</span></li>
		</ul>

		<ul class="week small-block-grid-1 medium-block-grid-7">
			<li class="day"><span class="daynumber">8</span></li>
			<li class="day"><span class="daynumber">9</span></li>
			<li class="day"><span class="daynumber">10</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">11</span></li>
			<li class="day"><span class="daynumber">12</span></li>
			<li class="day"><span class="daynumber">13</span></li>
			<li class="day"><span class="daynumber">14</span></li>
		</ul>

		<ul class="week current small-block-grid-1 medium-block-grid-7">
			<li class="day"><span class="daynumber">15</span></li>
			<li class="day"><span class="daynumber">16</span></li>
			<li class="day current"><%= partial "shared/_event-block" %>
			<span class="daynumber">17</span></li>
			<li class="day"><span class="daynumber">18</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">19</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">20</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">21</span></li>
		</ul>

		<ul class="week small-block-grid-1 medium-block-grid-7">
			<li class="day"><span class="daynumber">22</span></li>
			<li class="day"><span class="daynumber">23</span></li>
			<li class="day"><span class="daynumber">24</span></li>
			<li class="day"><span class="daynumber">25</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">26</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">27</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">28</span></li>
		</ul>

		<ul class="week small-block-grid-1 medium-block-grid-7">
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">29</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">30</span></li>
			<li class="day"><%= partial "shared/_event-block" %>
			<span class="daynumber">1</span></li>
			<li class="day"><span class="daynumber">2</span></li>
			<li class="day"><span class="daynumber">3</span></li>
			<li class="day"><span class="daynumber">4</span></li>
			<li class="day"><span class="daynumber">5</span></li>
		</ul>
	</section>
</div>
å