<ul class="messagelist">
	<li class="message row unread">
		<%= partial "shared/_list-row-semantic" %>
	</li>
	<li class="message row active unread">
		<%= partial "shared/_list-row-semantic" %>
	</li>
	<li class="message row unread">
		<%= partial "shared/_list-row-semantic" %>
	</li>
	<li class="message row read">
		<%= partial "shared/_list-row-semantic" %>
	</li>
	<li class="message row read">
		<%= partial "shared/_list-row-semantic" %>
	</li>
	<li class="message row read">
		<%= partial "shared/_list-row-semantic" %>
	</li>
</ul>