---
title: Cloudstead
---
<section class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
		
		<%= partial "shared/_top-bar" %>
		
		<section class="slide-canvas">
			<div class="row">
				<div class="pattern large-12 columns rhythm-up">
					<%= partial "shared/_sidenav" %>
				</div>
			</div>

			<div class="row">
				<div class="pattern large-12 columns rhythm-up">
					<%= partial "shared/_datepicker" %>
				</div>	
			</div>	

			<div class="row">
				<div class="pattern large-12 columns rhythm-up">
					<%= partial "shared/_calendar" %>
				</div>	
			</div>	

			<div class="row">
				<div class="pattern large-12 columns rhythm-up">
					<%= partial "shared/_event" %>
				</div>	
			</div>

			<div class="row">
				<div class="pattern large-12 columns rhythm-up">
					<%= partial "shared/_event-single" %>
				</div>	
			</div>

			<div class="row">
				<div class="pattern large-12 columns">
					<%= partial "shared/_list" %>
				</div>	
			</div>

			<div class="row">
				<div class="pattern large-12 columns">
					<%= partial "shared/_toolbar" %>
				</div>
			</div>	

			<div class="row">
				<div class="mail pattern large-12 columns">
					<%= partial "shared/_message" %>
				</div>	
			</div>
			
			<div class="row">
				<div class="mail pattern large-12 columns">
					<%= partial "shared/_nav-pagenav" %>
				</div>	
			</div>

			<div class="row">
				<div class="pattern large-12 columns">
					<%= partial "shared/_colors" %>
				</div>
			</div>
			
			<div class="row">
				<div class="pattern large-12 columns">	
					<%= partial "shared/_type" %>
				</div>
			</div>
	
			<div class="row">
				<div class="pattern large-12 columns">
					<%= partial "shared/_headers" %>
				</div>
			</div>
	
			<div class="row">
				<div class="pattern large-12 columns">			
					<%= partial "shared/_icons" %>
				</div>
			</div>
		
	
			<div class="row">
				<div class="pattern large-12 columns">	
					<%= partial "shared/_buttons" %>
					<%= partial "shared/_forms" %>
				</div>
			</div>
			
			<div class="row">
				<div class="pattern large-12 columns">	
					<%= partial "shared/_article" %>
				</div>
			</div>
			
			<div class="row">
				<div class="pattern large-12 columns">
					<%= partial "shared/_text" %>
				</div>
			</div>
	
			<%= partial "shared/_footer" %>
	
		</section>
	</div>	
</section>
