<section class="marketing-header primary-container">
	<div class="row">
		<h1 class="medium-left small-only-text-center">cloudstead</h1>

		<nav class="navigation medium-right inline-list small-only-text-center">
			<%= partial "shared/_nav" %>
		</nav>
	</div>	
</section>

<section class="deck primary-container">
	<div class="row">
		<div class="large-12 columns">
			<header class="text-center rhythm-2">
				<h1>Sign Up</h1>
				<p class="light delta">a private cloud platform, so simple and affordable anyone can use it. </p>
			</header>
		</div>

		<div class="medium-6 large-5 medium-centered columns">
			<%= partial "shared/_form-signup" %>
		</div>
	</div>
</section>

<section class="deck">
	<div class="row">
		<div class="text-center large-12 columns">
			<%= partial "shared/_messaging-button" %>
		</div>
	</div>
</section>

<section class="deck secondary-container">
	<div class="row">
		<div class="text-center large-12 columns rhythm-2">
			<h2>Features</h2>
		</div>

		<div class="large-6 columns">
			<%= partial "shared/_feature" %>
		</div>

		<div class="large-6 columns">
			<%= partial "shared/_feature" %>
		</div>

		<div class="large-6 columns">
			<%= partial "shared/_feature" %>
		</div>

		<div class="large-6 columns">
			<%= partial "shared/_feature" %>
		</div>
	</div>
</section>

<section class="deck">
	<div class="row">
		<div class="text-center large-12 columns rhythm-2">
			<h2 class="alpha">Only you can unlock it.</h2>
			<p class="delta dim light">Cloudstead automatically sets up your very own server and then throws away the key.</p>
		</div>

		<div class="large-7 large-centered columns">
			<%= partial "shared/_form-email" %>
		</div>
	</div>
</section>

<section class="deck primary-container">
	<div class="row">
		<div class="medium-7 columns small-only-text-center">
			<%= partial "shared/_messaging" %>
		</div>

		<div class="medium-5 columns">
			<%= partial "shared/_circle" %>
		</div>
	</div>
</section>

<section class="deck">
	<div class="row">
		<div class="medium-5 columns">
			<%= partial "shared/_circle" %>
		</div>

		<div class="medium-7 columns small-only-text-center">
			<%= partial "shared/_messaging" %>
		</div>
	</div>
</section>

<section class="deck secondary-container">
	<div class="row">
		<div class="medium-7 columns small-only-text-center">
			<%= partial "shared/_messaging" %>
		</div>

		<div class="medium-5 columns">
			<%= partial "shared/_circle" %>
		</div>
	</div>
</section>

<section class="deck">
	<div class="row">
		<div class="medium-5 columns">
			<%= partial "shared/_circle" %>
		</div>

		<div class="medium-7 columns small-only-text-center">
			<%= partial "shared/_messaging" %>
		</div>
	</div>
</section>
