<section class="marketing-header primary-container">
	<div class="row">
		<h1 class="medium-left">cloudstead</h1>

		<nav class="navigation medium-right inline-list">
			<%= partial "shared/_nav" %>
		</nav>
	</div>	
</section>

<section class="deck primary-container">

	<%= partial "shared/_pitch-3x" %>

	<span class="cloud"><img src="images/bg-cloud.png" /></span>

</section>

<section class="deck">

	<%= partial "shared/_pitch-3x" %>

</section>

<section class="deck secondary-container">

	<%= partial "shared/_pitch-3x" %>

	<span class="cloud bottom-right"><img src="images/bg-cloud.png" /></span>

</section>

<section class="deck">
	
	<%= partial "shared/_hero" %>

</section>

<section class="deck secondary-container">

	<%= partial "shared/_hero" %>

</section>

<section class="deck primary-container">

	<%= partial "shared/_hero" %>

</section>
